body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:823px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:813px;
  height:601px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:813px;
  height:601px;
}
#u1654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:107px;
  width:667px;
  height:30px;
}
#u1655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:114px;
  width:85px;
  height:16px;
}
#u1656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:681px;
  top:114px;
  width:32px;
  height:16px;
  text-align:center;
}
#u1657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u1658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:667px;
  height:424px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:136px;
  width:667px;
  height:424px;
}
#u1658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:495px;
  width:75px;
  height:31px;
}
#u1659_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u1660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:495px;
  width:75px;
  height:31px;
}
#u1660_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:247px;
  width:139px;
  height:16px;
}
#u1661_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u1661_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1662 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:280px;
  width:57px;
  height:16px;
}
#u1662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:274px;
  width:53px;
  height:29px;
  text-align:left;
}
#u1663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u1664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1664 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:280px;
  width:57px;
  height:16px;
}
#u1664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1665 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:274px;
  width:53px;
  height:29px;
  text-align:left;
}
#u1665_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:331px;
  width:162px;
  height:16px;
}
#u1666_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u1666_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:364px;
  width:57px;
  height:16px;
  color:#999999;
}
#u1667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:358px;
  width:53px;
  height:29px;
  color:#999999;
  text-align:left;
}
#u1668_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u1669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:364px;
  width:57px;
  height:16px;
  color:#999999;
}
#u1669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:358px;
  width:53px;
  height:29px;
  color:#999999;
  text-align:left;
}
#u1670_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:409px;
  width:162px;
  height:16px;
}
#u1671_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u1671_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:442px;
  width:57px;
  height:16px;
  color:#999999;
}
#u1672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:436px;
  width:53px;
  height:29px;
  color:#999999;
  text-align:left;
}
#u1673_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u1674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:442px;
  width:57px;
  height:16px;
  color:#999999;
}
#u1674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:436px;
  width:53px;
  height:29px;
  color:#999999;
  text-align:left;
}
#u1675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u1676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:238px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:237px;
  width:334px;
  height:238px;
}
#u1676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:256px;
  width:326px;
  height:64px;
  color:#999999;
}
#u1677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  word-wrap:break-word;
}
#u1678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:366px;
  width:300px;
  height:80px;
  color:#999999;
}
#u1678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:177px;
  width:139px;
  height:16px;
}
#u1679_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u1679_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:203px;
  width:98px;
  height:29px;
  color:#999999;
  text-align:left;
}
#u1680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u1681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:210px;
  width:15px;
  height:16px;
}
#u1681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
