body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1144px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4438 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:23px;
  width:1128px;
  height:838px;
}
#u4439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
}
#u4439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u4439_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:31px;
  word-wrap:break-word;
}
#u4440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:34px;
}
#u4440 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:0px;
  width:601px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u4440_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:597px;
  word-wrap:break-word;
}
#u4441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:34px;
}
#u4441 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:0px;
  width:492px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:center;
}
#u4441_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:488px;
  word-wrap:break-word;
}
#u4442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:42px;
}
#u4442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:35px;
  height:42px;
  color:#666666;
  text-align:center;
}
#u4442_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:31px;
  word-wrap:break-word;
}
#u4443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:42px;
}
#u4443 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:34px;
  width:601px;
  height:42px;
  color:#000000;
  text-align:left;
}
#u4443_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:597px;
  word-wrap:break-word;
}
#u4444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:42px;
}
#u4444 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:34px;
  width:492px;
  height:42px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u4444_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:488px;
  word-wrap:break-word;
}
#u4445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u4445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:76px;
  width:35px;
  height:40px;
  color:#666666;
  text-align:center;
}
#u4445_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  word-wrap:break-word;
}
#u4446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:40px;
}
#u4446 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:76px;
  width:601px;
  height:40px;
  color:#000000;
  text-align:left;
}
#u4446_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:597px;
  word-wrap:break-word;
}
#u4447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:40px;
}
#u4447 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:76px;
  width:492px;
  height:40px;
  color:#000000;
  text-align:left;
}
#u4447_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:488px;
  word-wrap:break-word;
}
#u4448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:39px;
}
#u4448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:116px;
  width:35px;
  height:39px;
  color:#666666;
  text-align:center;
}
#u4448_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  word-wrap:break-word;
}
#u4449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:39px;
}
#u4449 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:116px;
  width:601px;
  height:39px;
  color:#000000;
  text-align:left;
}
#u4449_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:597px;
  word-wrap:break-word;
}
#u4450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:39px;
}
#u4450 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:116px;
  width:492px;
  height:39px;
  color:#000000;
  text-align:left;
}
#u4450_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:488px;
  word-wrap:break-word;
}
#u4451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:40px;
}
#u4451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:155px;
  width:35px;
  height:40px;
  color:#666666;
  text-align:center;
}
#u4451_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:31px;
  word-wrap:break-word;
}
#u4452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:40px;
}
#u4452 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:155px;
  width:601px;
  height:40px;
  color:#000000;
  text-align:left;
}
#u4452_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:597px;
  word-wrap:break-word;
}
#u4453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:40px;
}
#u4453 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:155px;
  width:492px;
  height:40px;
  color:#000000;
  text-align:left;
}
#u4453_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:488px;
  word-wrap:break-word;
}
#u4454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:52px;
}
#u4454 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:195px;
  width:35px;
  height:52px;
  color:#666666;
  text-align:center;
}
#u4454_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:31px;
  word-wrap:break-word;
}
#u4455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:52px;
}
#u4455 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:195px;
  width:601px;
  height:52px;
  color:#000000;
  text-align:left;
}
#u4455_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:597px;
  word-wrap:break-word;
}
#u4456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:52px;
}
#u4456 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:195px;
  width:492px;
  height:52px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u4456_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:488px;
  word-wrap:break-word;
}
#u4457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u4457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:247px;
  width:35px;
  height:36px;
  color:#666666;
  text-align:center;
}
#u4457_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u4458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:36px;
}
#u4458 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:247px;
  width:601px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u4458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:597px;
  word-wrap:break-word;
}
#u4459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:36px;
}
#u4459 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:247px;
  width:492px;
  height:36px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u4459_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:488px;
  word-wrap:break-word;
}
#u4460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u4460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:283px;
  width:35px;
  height:36px;
  color:#666666;
  text-align:center;
}
#u4460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:36px;
}
#u4461 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:283px;
  width:601px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u4461_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:597px;
  word-wrap:break-word;
}
#u4462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:36px;
}
#u4462 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:283px;
  width:492px;
  height:36px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u4462_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:488px;
  word-wrap:break-word;
}
#u4463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u4463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:319px;
  width:35px;
  height:36px;
  color:#666666;
  text-align:center;
}
#u4463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:36px;
}
#u4464 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:319px;
  width:601px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u4464_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:597px;
  word-wrap:break-word;
}
#u4465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:36px;
}
#u4465 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:319px;
  width:492px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u4465_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:488px;
  word-wrap:break-word;
}
#u4466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u4466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:355px;
  width:35px;
  height:36px;
  color:#666666;
  text-align:center;
}
#u4466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:36px;
}
#u4467 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:355px;
  width:601px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u4467_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:597px;
  word-wrap:break-word;
}
#u4468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:36px;
}
#u4468 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:355px;
  width:492px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u4468_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:488px;
  word-wrap:break-word;
}
#u4469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u4469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:391px;
  width:35px;
  height:36px;
  color:#666666;
  text-align:center;
}
#u4469_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:36px;
}
#u4470 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:391px;
  width:601px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u4470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:597px;
  word-wrap:break-word;
}
#u4471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:36px;
}
#u4471 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:391px;
  width:492px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u4471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:488px;
  word-wrap:break-word;
}
#u4472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u4472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:427px;
  width:35px;
  height:36px;
  color:#666666;
  text-align:center;
}
#u4472_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:36px;
}
#u4473 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:427px;
  width:601px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u4473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:597px;
  word-wrap:break-word;
}
#u4474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:36px;
}
#u4474 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:427px;
  width:492px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u4474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:488px;
  word-wrap:break-word;
}
#u4475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u4475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:463px;
  width:35px;
  height:36px;
  color:#666666;
  text-align:center;
}
#u4475_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:36px;
}
#u4476 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:463px;
  width:601px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u4476_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:597px;
  word-wrap:break-word;
}
#u4477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:36px;
}
#u4477 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:463px;
  width:492px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u4477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:488px;
  word-wrap:break-word;
}
#u4478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u4478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:499px;
  width:35px;
  height:36px;
  color:#666666;
  text-align:center;
}
#u4478_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:36px;
}
#u4479 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:499px;
  width:601px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u4479_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:597px;
  word-wrap:break-word;
}
#u4480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:36px;
}
#u4480 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:499px;
  width:492px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u4480_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:488px;
  word-wrap:break-word;
}
#u4481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u4481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:535px;
  width:35px;
  height:36px;
  color:#666666;
  text-align:center;
}
#u4481_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:36px;
}
#u4482 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:535px;
  width:601px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u4482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:597px;
  word-wrap:break-word;
}
#u4483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:36px;
}
#u4483 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:535px;
  width:492px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u4483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:488px;
  word-wrap:break-word;
}
#u4484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u4484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:571px;
  width:35px;
  height:36px;
  color:#666666;
  text-align:center;
}
#u4484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:36px;
}
#u4485 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:571px;
  width:601px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u4485_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:597px;
  word-wrap:break-word;
}
#u4486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:36px;
}
#u4486 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:571px;
  width:492px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u4486_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:488px;
  word-wrap:break-word;
}
#u4487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:36px;
}
#u4487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:607px;
  width:35px;
  height:36px;
  color:#666666;
  text-align:center;
}
#u4487_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:36px;
}
#u4488 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:607px;
  width:601px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u4488_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:597px;
  word-wrap:break-word;
}
#u4489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:36px;
}
#u4489 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:607px;
  width:492px;
  height:36px;
  color:#000000;
  text-align:left;
}
#u4489_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:488px;
  word-wrap:break-word;
}
#u4490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:52px;
}
#u4490 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:643px;
  width:35px;
  height:52px;
  color:#666666;
  text-align:center;
}
#u4490_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:52px;
}
#u4491 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:643px;
  width:601px;
  height:52px;
  color:#000000;
  text-align:left;
}
#u4491_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:597px;
  word-wrap:break-word;
}
#u4492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:52px;
}
#u4492 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:643px;
  width:492px;
  height:52px;
  color:#000000;
  text-align:left;
}
#u4492_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:488px;
  word-wrap:break-word;
}
#u4493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:39px;
}
#u4493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:695px;
  width:35px;
  height:39px;
  color:#666666;
  text-align:center;
}
#u4493_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:39px;
}
#u4494 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:695px;
  width:601px;
  height:39px;
  color:#000000;
  text-align:left;
}
#u4494_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:597px;
  word-wrap:break-word;
}
#u4495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:39px;
}
#u4495 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:695px;
  width:492px;
  height:39px;
  color:#000000;
  text-align:left;
}
#u4495_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:488px;
  word-wrap:break-word;
}
#u4496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:52px;
}
#u4496 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:734px;
  width:35px;
  height:52px;
  color:#666666;
  text-align:center;
}
#u4496_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:52px;
}
#u4497 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:734px;
  width:601px;
  height:52px;
  color:#000000;
  text-align:left;
}
#u4497_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:597px;
  word-wrap:break-word;
}
#u4498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:52px;
}
#u4498 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:734px;
  width:492px;
  height:52px;
  color:#000000;
  text-align:left;
}
#u4498_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:488px;
  word-wrap:break-word;
}
#u4499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:52px;
}
#u4499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:786px;
  width:35px;
  height:52px;
  color:#666666;
  text-align:center;
}
#u4499_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:52px;
}
#u4500 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:786px;
  width:601px;
  height:52px;
  text-align:left;
}
#u4500_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:597px;
  word-wrap:break-word;
}
#u4501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:52px;
}
#u4501 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:786px;
  width:492px;
  height:52px;
  text-align:left;
}
#u4501_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:488px;
  word-wrap:break-word;
}
