body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:814px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:759px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2421 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:36px;
  width:786px;
  height:759px;
}
#u2421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:657px;
  height:625px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2422 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:108px;
  width:657px;
  height:625px;
}
#u2422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:657px;
  height:34px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2423 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:75px;
  width:657px;
  height:34px;
  text-align:left;
}
#u2423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:653px;
  word-wrap:break-word;
}
#u2424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2424 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:127px;
  width:199px;
  height:21px;
  font-size:18px;
}
#u2424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u2425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:177px;
  width:38px;
  height:17px;
}
#u2425_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u2426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:2px;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:193px;
  width:76px;
  height:1px;
}
#u2426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:222px;
  width:69px;
  height:17px;
}
#u2427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u2428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:2px;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:238px;
  width:76px;
  height:1px;
}
#u2428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:222px;
  width:48px;
  height:17px;
}
#u2429_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u2430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:265px;
  width:97px;
  height:17px;
}
#u2430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:2px;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:281px;
  width:76px;
  height:1px;
}
#u2431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2432 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:265px;
  width:48px;
  height:17px;
}
#u2432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u2433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2433 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:309px;
  width:125px;
  height:17px;
}
#u2433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u2434 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:310px;
  width:39px;
  height:16px;
}
#u2434_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u2434_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2435 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:310px;
  width:39px;
  height:16px;
}
#u2435_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u2435_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:593px;
  height:250px;
}
#u2436 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:350px;
  width:593px;
  height:250px;
}
#u2436_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:117px;
  width:589px;
  word-wrap:break-word;
}
#u2437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2437 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:658px;
  width:81px;
  height:33px;
}
#u2437_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u2438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:33px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2438 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:658px;
  width:81px;
  height:33px;
}
#u2438_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:77px;
  word-wrap:break-word;
}
#u2439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2439 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:84px;
  width:38px;
  height:17px;
  text-align:center;
}
#u2439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
