body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:732px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:508px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:21px;
  width:711px;
  height:508px;
}
#u888_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:107px;
  width:617px;
  height:30px;
}
#u889_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:114px;
  width:57px;
  height:16px;
}
#u890_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:114px;
  width:32px;
  height:16px;
  text-align:center;
}
#u891_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:617px;
  height:306px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:136px;
  width:617px;
  height:306px;
}
#u892_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:379px;
  width:75px;
  height:31px;
}
#u893_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:379px;
  width:75px;
  height:31px;
}
#u894_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  word-wrap:break-word;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:187px;
  width:588px;
  height:168px;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u896_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:130px;
  height:30px;
}
#u897_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:30px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:0px;
  width:341px;
  height:30px;
}
#u898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:337px;
  word-wrap:break-word;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:0px;
  width:67px;
  height:30px;
}
#u899_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:36px;
}
#u900_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:36px;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:30px;
  width:130px;
  height:36px;
}
#u901_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:36px;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:30px;
  width:341px;
  height:36px;
  text-align:left;
}
#u902_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:337px;
  word-wrap:break-word;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:30px;
  width:67px;
  height:36px;
}
#u903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:50px;
  height:36px;
}
#u904_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:36px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:66px;
  width:130px;
  height:36px;
}
#u905_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:36px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:66px;
  width:341px;
  height:36px;
  text-align:left;
}
#u906_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:337px;
  word-wrap:break-word;
}
#u907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:66px;
  width:67px;
  height:36px;
}
#u907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:50px;
  height:36px;
}
#u908_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:36px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:102px;
  width:130px;
  height:36px;
}
#u909_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:36px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:102px;
  width:341px;
  height:36px;
  text-align:left;
}
#u910_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:337px;
  word-wrap:break-word;
}
#u911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:102px;
  width:67px;
  height:36px;
}
#u911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:50px;
  height:30px;
}
#u912_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:138px;
  width:130px;
  height:30px;
}
#u913_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:30px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:138px;
  width:341px;
  height:30px;
  text-align:left;
}
#u914_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:337px;
  word-wrap:break-word;
}
#u915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:138px;
  width:67px;
  height:30px;
}
#u915_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:158px;
  width:289px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u916_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:232px;
  width:48px;
  height:16px;
}
#u917_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u917_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:267px;
  width:48px;
  height:16px;
}
#u918_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u918_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:300px;
  width:48px;
  height:16px;
}
#u919_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u919_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:332px;
  width:48px;
  height:16px;
}
#u920_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u920_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
