body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:969px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6011_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6011 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:16px;
  width:375px;
  height:667px;
}
#u6011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6012 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:30px;
  width:1px;
  height:16px;
}
#u6012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u6013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u6013 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:16px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u6013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6014 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:50px;
  width:127px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6014_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:123px;
  word-wrap:break-word;
}
#u6015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u6015 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:16px;
  width:375px;
  height:20px;
}
#u6015_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u6016 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:79px;
  width:375px;
  height:1px;
}
#u6016_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u6017 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:48px;
  width:12px;
  height:20px;
}
#u6017_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:129px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6018 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:95px;
  width:335px;
  height:129px;
}
#u6018_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u6019 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:129px;
  width:163px;
  height:21px;
  font-size:18px;
}
#u6019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u6020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:42px;
}
#u6020 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:132px;
  width:51px;
  height:42px;
}
#u6020_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:47px;
  word-wrap:break-word;
}
#u6021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:2px;
}
#u6021 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:196px;
  width:323px;
  height:1px;
  color:#CCCCCC;
}
#u6021_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6022 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:203px;
  width:150px;
  height:17px;
}
#u6022_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u6023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6023 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:203px;
  width:51px;
  height:17px;
}
#u6023_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u6024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6024 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:156px;
  width:69px;
  height:24px;
}
#u6024_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u6025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:129px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6025 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:243px;
  width:335px;
  height:129px;
}
#u6025_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u6026 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:277px;
  width:91px;
  height:21px;
  font-size:18px;
}
#u6026_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:42px;
}
#u6027 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:280px;
  width:51px;
  height:42px;
}
#u6027_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:47px;
  word-wrap:break-word;
}
#u6028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:2px;
}
#u6028 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:344px;
  width:323px;
  height:1px;
  color:#CCCCCC;
}
#u6028_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6029 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:351px;
  width:150px;
  height:17px;
}
#u6029_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u6030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6030 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:351px;
  width:51px;
  height:17px;
}
#u6030_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u6031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6031 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:156px;
  width:106px;
  height:24px;
  color:#FFFFFF;
}
#u6031_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u6032_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6032 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:96px;
  width:335px;
  height:28px;
}
#u6032_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u6033 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:99px;
  width:20px;
  height:19px;
  font-size:8px;
}
#u6033_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u6034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6034 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:100px;
  width:85px;
  height:17px;
}
#u6034_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6035 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:243px;
  width:335px;
  height:28px;
}
#u6035_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u6036 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:246px;
  width:20px;
  height:19px;
  font-size:8px;
}
#u6036_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u6037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6037 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:247px;
  width:85px;
  height:17px;
}
#u6037_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6038 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:100px;
  width:94px;
  height:17px;
}
#u6038_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u6039_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:149px;
  height:19px;
}
#u6039p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:144px;
  height:6px;
}
#u6039p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:6px;
}
#u6039p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:20px;
}
#u6039p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u6039p002 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:0px;
  width:4px;
  height:2px;
}
#u6039p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u6039 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:108px;
  width:139px;
  height:1px;
}
#u6039_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6040 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:130px;
  width:122px;
  height:17px;
}
#u6040_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u6041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6041 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:159px;
  width:458px;
  height:17px;
}
#u6041_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  white-space:nowrap;
}
#u6042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6042 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:195px;
  width:382px;
  height:33px;
}
#u6042_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  white-space:nowrap;
}
#u6043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6043 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:257px;
  width:136px;
  height:17px;
}
#u6043_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u6044 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:220px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u6044_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:5px;
  height:8px;
}
#u6044_seg1 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-4px;
  width:8px;
  height:54px;
}
#u6044_seg2 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:42px;
  width:158px;
  height:8px;
}
#u6044_seg3 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:37px;
  width:18px;
  height:18px;
}
#u6044_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6045 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:168px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u6045_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:182px;
  height:8px;
}
#u6045_seg1 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:-9px;
  width:18px;
  height:18px;
}
#u6045_text {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6046 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:140px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u6046_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:8px;
  height:5px;
}
#u6046_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-5px;
  width:202px;
  height:8px;
}
#u6046_seg2 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:-10px;
  width:18px;
  height:18px;
}
#u6046_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6047_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:292px;
  height:19px;
}
#u6047p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:288px;
  height:6px;
}
#u6047p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:6px;
}
#u6047p001 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-9px;
  width:22px;
  height:20px;
}
#u6047p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u6047p002 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:-1px;
  width:4px;
  height:4px;
}
#u6047p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u6047 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:211px;
  width:282px;
  height:1px;
}
#u6047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6048 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:30px;
  width:276px;
  height:33px;
}
#u6048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  white-space:nowrap;
}
#u6049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:129px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6049 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:389px;
  width:335px;
  height:129px;
}
#u6049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u6050 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:423px;
  width:91px;
  height:21px;
  font-size:18px;
}
#u6050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:42px;
}
#u6051 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:426px;
  width:51px;
  height:42px;
}
#u6051_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:47px;
  word-wrap:break-word;
}
#u6052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:2px;
}
#u6052 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:490px;
  width:323px;
  height:1px;
  color:#CCCCCC;
}
#u6052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6053 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:497px;
  width:150px;
  height:17px;
}
#u6053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u6054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u6054 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:450px;
  width:69px;
  height:24px;
  color:#CCCCCC;
}
#u6054_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u6055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6055 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:389px;
  width:335px;
  height:28px;
}
#u6055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u6056 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:392px;
  width:20px;
  height:19px;
  font-size:8px;
}
#u6056_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  word-wrap:break-word;
}
#u6057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6057 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:393px;
  width:85px;
  height:17px;
}
#u6057_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u6058 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:450px;
  width:122px;
  height:24px;
  color:#CCCCCC;
}
#u6058_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:118px;
  word-wrap:break-word;
}
#u6059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6059 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:308px;
  width:69px;
  height:24px;
}
#u6059_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u6060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6060 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:497px;
  width:51px;
  height:17px;
}
#u6060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u6061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u6061 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:308px;
  width:76px;
  height:24px;
  color:#CCCCCC;
}
#u6061_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
