body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1187px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:410px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3039 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:14px;
  width:629px;
  height:410px;
}
#u3039_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:33px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3040 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:55px;
  width:449px;
  height:33px;
  text-align:left;
}
#u3040_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:445px;
  word-wrap:break-word;
}
#u3041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3041 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:64px;
  width:30px;
  height:16px;
  text-align:center;
}
#u3041_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u3042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:263px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3042 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:87px;
  width:449px;
  height:263px;
}
#u3042_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3043 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:118px;
  width:400px;
  height:150px;
}
#u3044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u3044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u3044_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u3045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u3045 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:120px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u3045_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u3046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u3046 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:0px;
  width:80px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u3046_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u3047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u3047 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:200px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u3047_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u3048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u3048 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:120px;
  height:30px;
  text-align:left;
}
#u3048_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u3049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u3049 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:30px;
  width:80px;
  height:30px;
  text-align:left;
}
#u3049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u3050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:200px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u3050_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u3051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u3051 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:60px;
  width:120px;
  height:30px;
  text-align:left;
}
#u3051_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u3052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u3052 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:60px;
  width:80px;
  height:30px;
  text-align:left;
}
#u3052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u3053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:200px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u3053_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u3054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u3054 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:90px;
  width:120px;
  height:30px;
  text-align:left;
}
#u3054_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u3055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u3055 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:90px;
  width:80px;
  height:30px;
  text-align:left;
}
#u3055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u3056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:200px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u3056_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u3057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u3057 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:120px;
  width:120px;
  height:30px;
  text-align:left;
}
#u3057_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u3058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u3058 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:120px;
  width:80px;
  height:30px;
  text-align:left;
}
#u3058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3059 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:156px;
  width:58px;
  height:16px;
}
#u3059_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u3059_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3060 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:186px;
  width:58px;
  height:16px;
}
#u3060_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u3060_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3061 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:215px;
  width:58px;
  height:16px;
}
#u3061_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u3061_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3062 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:245px;
  width:58px;
  height:16px;
}
#u3062_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u3062_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3063 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:288px;
  width:65px;
  height:27px;
  color:#FFFFFF;
}
#u3063_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u3064_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:27px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3064 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:288px;
  width:65px;
  height:27px;
}
#u3064_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u3065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3065 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:245px;
  width:475px;
  height:32px;
}
#u3065_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  word-wrap:break-word;
}
#u3066_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:220px;
  height:19px;
}
#u3066p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:214px;
  height:6px;
}
#u3066p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:6px;
}
#u3066p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-9px;
  width:22px;
  height:20px;
}
#u3066p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u3066p002 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:-1px;
  width:4px;
  height:4px;
}
#u3066p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u3066 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:253px;
  width:210px;
  height:1px;
}
#u3066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3067 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:156px;
  width:475px;
  height:32px;
}
#u3067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  word-wrap:break-word;
}
#u3068_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:220px;
  height:19px;
}
#u3068p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:214px;
  height:6px;
}
#u3068p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:6px;
}
#u3068p001 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-10px;
  width:22px;
  height:20px;
}
#u3068p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u3068p002 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:0px;
  width:4px;
  height:2px;
}
#u3068p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:2px;
}
#u3068 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:164px;
  width:210px;
  height:1px;
}
#u3068_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3069 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:376px;
  width:475px;
  height:16px;
}
#u3069_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  word-wrap:break-word;
}
#u3070 {
  border-width:0px;
  position:absolute;
  left:712px;
  top:384px;
  width:0px;
  height:0px;
  font-size:13px;
  color:#333333;
}
#u3070_seg0 {
  border-width:0px;
  position:absolute;
  left:-530px;
  top:-4px;
  width:530px;
  height:8px;
}
#u3070_seg1 {
  border-width:0px;
  position:absolute;
  left:-530px;
  top:-117px;
  width:8px;
  height:121px;
}
#u3070_seg2 {
  border-width:0px;
  position:absolute;
  left:-535px;
  top:-123px;
  width:18px;
  height:18px;
}
#u3070_text {
  border-width:0px;
  position:absolute;
  left:-372px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3071 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:96px;
  width:325px;
  height:17px;
}
#u3071_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
